@import 'colors';

header#page-header {
  color: #f0f0f0;
  background: #237cbe;
  padding: 5px;
  border-bottom: 3px solid darken($primary-color, 10%);

  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

footer#page-footer {
  color: #237cbe;
  background: #f0f0f0;
  text-align: center;
  padding: 5px;
  border-top: 3px solid darken($secondary-color, 10%);
}

aside#sidebar {
  float: right;
  background: #f0f0f0;
  width: 200px;
}